html, body {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    width: 100%;

}
.container .menu {
    background: rgb(144,12,176);
    background: linear-gradient(90deg, rgba(144,12,176,1) 0%, rgba(255,0,18,1) 100%);    
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container .menu .name {
    margin-left: 10px;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: lighter;
}
.container .menu .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: -100px;
    
}
.container .menu .info ul li  {
    list-style: none;
    padding: 10px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.container .menu .info ul li a {
    text-decoration: none;
    padding: 10px;
}
.container .menu .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: -140px;
    font-size: 14px;
}
.container .menu .list ul li  {
    list-style: none;
    padding: 10px;
    border-right: 1px solid gray;
}
.container .menu .list ul li a {
    text-decoration: none;
    padding: 10px;
}
.container .menu .sign {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-left: 1px solid gray;
    padding: 15px;
}
.container .menu .sign h1 {
    color: #ccc;
    font-size: 20px;
    font-weight: lighter;
}
.container .menu .sign ul li {
    list-style: none;
}
.container .menu .sign ul li a {
    text-decoration: none;
    padding: 10px;
}
.container .direction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 40px;
}
.container .city {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 80px auto 10px ;
}
.container .city h1 {
    color: rgb(27, 27, 27);
    font-weight: lighter;
    font-size: 40px;
}
.container .city h1 span{ 
    color: purple;
    font-weight: bold;
    font-size: 50px;
}
.container .boxs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:  50px 150px 150px 150px;
    gap: 30px;
}
.boxs .box {
    border: 2px solid rgb(185, 185, 185);
    width: 100%;
    margin: 5px;
}

.container .boxs .box ul li {
    list-style: none;
    font-size: 14px;
    font-weight: bold;
    color: purple;
    margin-left: -35px;
    padding: 10px 20px 10px 0;
}
.container .boxs .box ul li a {
    text-decoration: none;
}
.container .boxs .box ul li a span {
    color: rgb(71, 71, 71);
    font-size: 14px;
    font-weight: lighter;
}
.container .footer {
    background-color: rgb(175, 171, 171);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 50px 250px 100px 250px;
}
.container .footer img {
    width: 100%;
    height: 200px;
}